ansible==6.0.0
ansible-compat==2.1.0
ansible-core==2.13.1
ansible-lint==6.3.0
attrs==21.4.0
boxsdk==3.2.0
bracex==2.3.post1
cfgv==3.3.1
commonmark==0.9.1
detect-secrets @ git+https://github.com/ibm/detect-secrets.git@0ccc25a57be21eb401e0bd37e5c053c20a818208
distlib==0.3.6
enrich==1.2.7
filelock==3.7.1
identify==2.5.1
iniconfig==1.1.1
Jinja2==3.1.2
jsonschema==4.17.3
nodeenv==1.7.0
packaging==21.3
pathspec==0.9.0
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.19.0
py==1.11.0
Pygments==2.12.0
pytest==7.1.2
python-dateutil==2.8.2
requests-toolbelt==0.9.1
resolvelib==0.5.4
rich==12.4.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
subprocess-tee==0.3.5
tabulate==0.8.10
tenacity==8.0.1
toml==0.10.2
tomli==2.0.1
virtualenv==20.15.1
wcmatch==8.4
wrapt==1.14.1
yamllint==1.26.3
