ansible==6.0.0
ansible-lint==6.0.2
attrs==21.4.0
boxsdk==3.2.0
bracex==2.3.post1
cfgv==3.3.1
commonmark==0.9.1
detect-secrets @ git+https://github.com/ibm/detect-secrets.git@0ccc25a57be21eb401e0bd37e5c053c20a818208
enrich==1.2.7
identify==2.5.1
nodeenv==1.7.0
pre-commit==2.19.0
Pygments==2.11.2
requests-toolbelt==0.9.1
rich==12.4.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
tenacity==8.0.1
toml==0.10.2
wcmatch==8.4
wrapt==1.14.1
